@keyframes foobar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
#main {
  height: 100%;
}
.overlay {
  animation: 2s foobar;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 4em;
}

.container {
  margin: auto;
  position: relative;
  background: #F9F9F9;
  overflow: hidden;
}

.highscore, .points {
  color: #84B9F3;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

.points {
  padding: 1em 1em 0 1em;
  font-size: 3em;
}
.highscore {
  opacity: 0.5;
}

.head, .entities {
  z-index: 1;
}

.entities {
  position: relative;
}
